# Sao chép file này thành .env rồi điền IP thực tế của từng máy

# IP máy của Người 2 (PU1-Product)
PU1_URL=http://192.168.1.101:8081

# IP máy của Người 3 (PU2-Cart)
PU2_URL=http://192.168.1.102:8082

# IP máy của Người 4 (PU3-Order)
PU3_URL=http://192.168.1.103:8083

# IP máy của Người 5 (PU4-Inventory)
PU4_URL=http://192.168.1.104:8084
